[submodule ".github/actions/translate-on-issue"]
	path = .github/actions/translate-on-issue
	url = https://github.com/rookiegao/actions-comment-pull-request
[submodule ".github/actions/comment-on-issue"]
	path = .github/actions/comment-on-issue
	url = https://github.com/rookiegao/translation-helper
